cmake-build-*/
build/
Build/

server/logs/*
# Ignore all __pycache__ folders and their contents
**/__pycache__/


compiler/

windows_build_extra/
windows_build.zsh
git-add.zsh

.idea/

.DS_Store
.vscode
.vs